{% extends "TrainingBundle::layout.html.twig" %}
{% form_theme commentForm 'form/fields.html.twig' %}

{% block body %}
    <div class="col-sm-4">
        {% for flashMsg in app.session.flashbag.get('notice') %}
            <div class="alert alert-info" role="alert">
                {{ flashMsg }}
            </div>
        {% endfor %}


        <h3>{{ post.title }}</h3>
        <div>{{ post.content }}</div>
        <br>


        <div class="panel panel-default">
            <div class="panel-heading">New comment:</div>
            <div class="panel-body">
                {{ form_start(commentForm, {'attr': {'novalidate': 'novalidate'}})}}
                    {{ form_row(commentForm.author) }}
                    {{ form_row(commentForm.content) }}
                {{ form_end(commentForm) }}
            </div>
        </div>

        <div id="comment-box">
            {% for comment in comments %}
                {{ include('TrainingBundle:BlogPost:comment.html.twig', { 'comment': comment }) }}
            {% else %}
                <div>No comments found</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script>
        var conn = new ab.Session('ws://localhost:8080',
                function() {
                    conn.subscribe('newComment', function(topic, data) {
                        // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                        $('#comment-box').append(data.html);
                    });
                },
                function() {
                    console.warn('WebSocket connection closed');
                },
                {'skipSubprotocolCheck': true}
        );

        $(function(){
            $('body').on('submit', 'form[name="acmeblogbundle_blogcomment"]', function(e){
                e.preventDefault();
                $.post(location.href, $(this).serialize())
                    .done(function(data){
                        $('#comment-box').append(data.html);
                    });
            });
        });
    </script>
    {#<script type="text/javascript" src="{{ '/bundles/training/js/socket.js' }}"></script>#}
{% endblock %}